%html{:lang => "en"}
   %head
      %title{} Bookmarklet
   %body
      %h1 Create your bookmarklet
      %div{:id => 'bookmarklet'}
      %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
      %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"}
      %script{:type => "text/javascript", :src => "http://github.com/janl/mustache.js/raw/0.3.0/mustache.js"}
      %script{:type => "text/javascript", :src => "/js/bookmarklet.js"}

